Authlib==1.6.0
streamlit==1.46.1
langchain==0.3.24
langchain-core==0.3.72
langchain-community==0.3.22
langchain-huggingface==0.1.2
langchain-chroma==0.2.4
langchain-ollama==0.3.6
flashrank==0.2.8
omegaconf==2.3.0
huggingface-hub==0.34.1
google-auth==2.36.0
langchain-openai==0.3.28
streamlit-id-token-patch @ git+https://github.com/jesseDingley/streamlit-id-token-patch.git@main#egg=streamlit-id-token-patch
pysqlite3-binary